.grid {
  display: grid;
  grid-template-columns: 140px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header container container container"
    "header container container container"
    "header footer footer footer";
}
.header {
  grid-area: header;
}
.container {
  grid-area: container;
}
.footer {
  grid-area: footer;
}